doctype html
html
  head
    title= title
   
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- cargamos un  script cabecera asipodemos acceder desde cualquier punto a esta libreria socket.io
    script(src='/socket.io/socket.io.js')
  body
  
    block content
